<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2etc Ecommerce Tutorial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="img.png" style="float:left; height:80px;width:60"></a> 
        
        <div>
            <u1 id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
            </u1>
        </div>
    </section>


    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off! </p>
        <button>Shop now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <a href="#"><img src="imgfeaturef1.png" style="float:left; height:80px;width:60"></a>
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <a href="#"><img src="Online Order.png.png" style="float:left; height:80px;width:60"></a>
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <a href="#"><img src="Save Money.png.png" style="float:left; height:80px;width:60"></a>
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <a href="#"><img src="Promotion.png.png" style="float:left; height:80px;width:60"></a>
            <h6>Promotion</h6>
        </div>
        <div class="fe-box">
            <a href="#"><img src="Happy sell.png" style="float:left; height:80px;width:60"></a>
            <h6>Happy sell</h6>
        </div>
        <div class="fe-box">
            <a href="#"><img src="Support.png" style="float:left; height:80px;width:60"></a>
            <h6>Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <div class="pro">
            <img src="product f1.jpg">
            <div class="dev">
                <span>Adidas</span>
                <h5>Cartoon Astronut T-Shirts</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                </div>
                <h4>Rs 3500</h4>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
                <img src="product f2.jpg">
                <div class="dev">
                    <span>Adidas</span>
                    <h5>Cartoon Astronut T-Shirts</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    </div>
                    <h4>Rs 3500</h4>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="pro">
                    <img src="product f3.jpg">
                    <div class="dev">
                        <span>Adidas</span>
                        <h5>Cartoon Astronut T-Shirts</h5>
                        <div class="star">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        </div>
                        <h4>Rs 3500</h4>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <div class="pro">
                        <img src="product f4.jpg">
                        <div class="dev">
                            <span>Adidas</span>
                            <h5>Cartoon Astronut T-Shirts</h5>
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            </div>
                            <h4>Rs 3500</h4>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                        <div class="pro">
                            <img src="product f5.jpg">
                            <div class="dev">
                                <span>Adidas</span>
                                <h5>Cartoon Astronut T-Shirts</h5>
                                <div class="star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                </div>
                                <h4>Rs 3500</h4>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                            <div class="pro">
                                <img src="product f6.jpg">
                                <div class="dev">
                                    <span>Adidas</span>
                                    <h5>Cartoon Astronut T-Shirts</h5>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    </div>
                                    <h4>Rs 3500</h4>
                                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                </div>
                                <div class="pro">
                                    <img src="product f7.jpg">
                                    <div class="dev">
                                        <span>Adidas</span>
                                        <h5>Cartoon Astronut T-Shirts</h5>
                                        <div class="star">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        </div>
                                        <h4>Rs 3500</h4>
                                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </div>
                                    <div class="pro">
                                        <img src="product f8.jpg">
                                        <div class="dev">
                                            <span>Adidas</span>
                                            <h5>Cartoon Astronut T-Shirts</h5>
                                            <div class="star">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            </div>
                                            <h4>Rs 3500</h4>
                                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                        </div>
        </div>
    </section>


    <script src="script.js"></script>    
</body>

</html>